$backgroundColor: #100e17;
$primaryColor: #0dab93;
$darkPrimaryColor: #0bceaf;
$grayColor: #1e1e25;
@mixin text($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
* {
  box-sizing: inherit;
}
.main {
  overflow: hidden;
  background-color: $backgroundColor;
}
html {
  font-size: 62.5%;
  font-family: "roboto", sans-serif;
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: white;
}

#btn {
  position: fixed;
  bottom: 40px;
  right: 20px;
  height: 40px;
  width: 40px;
  background-color: $primaryColor;
  border-radius: 5px;
  opacity: 0.4;
  z-index: 1000;
  display: none;
  transition: all 0.2s linear;
}
#btn:hover {
  opacity: 1;
}
#btn .scroll-top-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-height {
  height: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
/* css for scroll-bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
